.header-dark {
	background-color: #444;
	font-family: 'Lora', serif; 
	padding-bottom: 80px;
}

.header-dark .hero h1 {
    color: #fff;
    font-family: 'Bitter', serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.intro h1 {
	font-family: 'Lora', serif; 
	font-size:30px;
	margin:40px;
}

table {
	font-family: 'Lora', serif; 
}

a.red {
	color:red;
}

.main h1, .main p {
	color:white;
	margin-top:20px;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
   
    font: 22px Arial, sans-serif;
}

.pipelogo {background: url(../images/GLAMpipe_piippu.png)  50% 100px no-repeat fixed;
  background-size: cover;
  height:900px;
  opacity: 0.5;
}

.navbar-text {
	padding-left:20px;
	padding-right:10px;
	transform: rotate(-9deg);
}

.alert {
	transform: rotate(-9deg);
	opacity: 0.5;
}
