
version: '2'

services:
  glampipe:
    build: .
    image: artturimatias/glampipe:latest
    container_name: glampipe
    networks:
     - gp
    ports:
     - "3000:3000"
    command: node index.js
    environment:
     - DOCKER=1
    volumes:
     - ./data:/src/app/data
     - ./nodes:/src/app/nodes
    depends_on:
      - "glampipe_mongo"

  glampipe_mongo:
    image: mongo:4.2
    container_name: glampipe_mongo
    volumes:
     - mongo-data:/data/db
    networks:
    - gp

networks:
  gp:
    driver: bridge

volumes:
    mongo-data:
