<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi" xml:lang="fi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <!--[if lt IE 7]></base><![endif]-->



	<link href="/publicview/css/bootstrap.css" rel="stylesheet">

	<link rel="stylesheet" data-name="bundle-jyunity" href="https://static.cc.jyu.fi/plone/jyunity-524cf05/jyunity.7bbf0b7022d40f1dafe3.css" />
	<link href="/publicview/css/overrides.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 

	<script type="text/javascript" src="/publicview/js/facets.js" ></script>
	<script type="text/javascript" src="/publicview/js/tutka.js" ></script>

    <title>JYX contract gradut</title>

</head>

<body class="flex template-view portaltype-portal-view site-fi section-opiskelu subsection-opiskelijalle-2 icons-off thumbs-off frontend viewpermission-view userrole-anonymous pat-markspeciallinks mosaic-grid pat-plone patterns-loaded">
	

<header class="site-header container-fluid hidden-print">
  <div class="site-brand-container container">
    <div class="row">
      <div class="col-2 col-sm-2 col-md-10 col-xl-7 site-logo-container">
        <a class="site-logo" href="https://www.jyu.fi/"></a>
        <p class="hidden-sm-down site-name">
          <a href="https://osc.jyu.fi/fi/">OSC/verkkopalvelut</a>
          
            <span class="separator">|</span>
            <a href="#">JYX-admin </a>

            <span class="separator">|</span>
            <a href="#">sidosryhmägradut</a>
          
        </p>
      </div>
      
      <div class="col-7 col-sm-8 hidden-md-up site-name-container no-gutters site-name-animate">
        <p class="site-name site-name-sm">
          <a href="https://www.jyu.fi/">OSC/verkkopalvelut</a>
        </p>
        <p class="site-name site-name-sm">
          <a href="https://www.jyu.fi/hytk/fi">JYX sidosryhmägradut</a>
        </p>
      </div>
      <div class="hidden-lg-down col-xl-4 site-links-search-container">
        <div class="site-links-container">
          <a href="https://www.jyu.fi/person-search">Yhteystiedot</a>
        </div>

      </div>
    </div>
  </div>
</header>	
  

    

<div class="container">
	
	<div class="row hidden-print">
      <div class="col-md-12 hidden-sm-down">
        <div class="breadcrumbs">
          
        </div>
      </div>
    </div>
	
	<div class="row">
		
		<!-- MAIN -->
		<div class="col-md-12 col-lg-9 col-xl-7 main">
			<h1>Sidosryhmägradut</h1>
			<div class="info">
				<p>Sovellus listaa <b>JYXissä olevat sidosryhmägradut</b> (yvv.contractresearch) valintojesi mukaan (vain vuosi 2016)</p>
			</div>
		
			<h3 id="years_shown">2016</h3>
			<div id="items"></div>
		</div>
	
			
		<!-- LEFT -->
		<div class="col-md-12 flex-first col-lg-3 sidebar sidebar-left hidden-print">
			<div class="box">
				<div class="filter-or">
					<h3>Julkaisuvuosi</h3>
					<ul id="dc_date_issued">
						<li><input type="checkbox" checked="checked" name="2016"/>2016</li>
						
					</ul>
				</div>	
			</div>

			<div class="box">
				<div class="facet-and">
					<h3>Oppiaine</h3>
					<div id="dc_contributor_laitos" data-limit="100"></div>
				</div>	
			</div>			
		</div>
	
	
	
		<!-- RIGHT -->
		<div class="col-md-12 col-xl-2 sidebar sidebar-right hidden-print">
			
		</div>
	</div>	
</div>



<footer class="site-footer hidden-print">
  <div class="container-fluid">
    <div class="row site-brand-container">
      <a class="site-logo" href="https://www.jyu.fi/">
      </a>



      <a class="site-name" href="https://osc.jyu.fi/fi/">JYU/Avoimen tiedon keskus</a>
    </div>


  </div>
</footer>

</body>
	
</html>
