<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>GLAMpipe style</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,700,700i" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../css/wikiglyphs.css">
		<link rel="stylesheet" type="text/css" href="../css/style-new.css" />
		<link rel="stylesheet" type="text/css" href="../css/js-syntax.css" />
		
		<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery-ui.min.js"></script>

		<script type="text/javascript" src="../js/ui-config.js"></script>

		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <style type="text/css" media="screen">


    #editor {
        margin: 0;
		height:100%

    }
  </style>
	</head>

	<body class="vbox">
		<header>
			<a href="../"><span class="title sitetitle">GLAMpipe editor</span></a>
			<span id="version">version</span>
			<div id="node-progress">GLAMpipe is ready...</div> <!-- out.say('progress') in node script prints here.-->
			<div id="login"></div>
			<div id="node-status"></div> <!-- out.say('progress') in node script prints here.-->
		</header>
		<content class="main hbox space-between">
			
			<pipe>
				<div class="breadcrumbblock">

				</div>

				<!-- project nodes -->
				<div class="nodeset"></div>
			</pipe>
			
			<data-workspace>
				<settingscontainer>
					<settingsheader>
						<div class="title settingstitle">Editor</div>
					</settingsheader>
					
					<settingsblock>
					</settingsblock>
					
					<submitblock>
					</submitblock>
					
				</settingscontainer>
				<data-container>
				
<pre id="editor">function foo(items) {
	var i;
	for (i = 0; i &lt; items.length; i++) {
		alert("Ace Rocks " + items[i]);
	}
}</pre>

</data-container>
		  </data-workspace>
		</content>
		<div id="dialog-confirm" style="display:none">Are you sure?</div>
		<div id="cell-display"></div>
		<div id="dynamic-fields"></div>
		
		<script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/twilight");
			editor.session.setMode("ace/mode/javascript");
		</script>
		
	</body>
</html>







