<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GLAMpipe setup</title>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script src="http://cdn.socket.io/socket.io-1.2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/css/metapipe.css" />

<style>
p {padding:5px;}
html, body { height:100%;}
img.man {position:absolute; bottom:0px; right:0px}
#wrapper {padding:20px;}
a:hover {color:black;}
#console {position:absolute; top:110px; left: 380px;overflow-y:auto; width:550px; height:500px; color:white; background-color:black; z-index:100000}
#info {width:930px;}
</style>

<script>
function init() {


    // websocket stuff
    var socket = io.connect('http://localhost');

    socket.on("progress", function (data) {
        $("#console").append(data + "</br>");
    });

    socket.on("error", function (data) {
        $("#console").append("<div class=\"bad\">" + data + "</div>");
    });

    $.get("/get/datapath", function(returnedData) {
        console.log(returnedData);
        if(returnedData.datapath != "") {
            $("#datapath").val(returnedData.datapath);
        } else {
            $("#datapath_error").show();
        }
    });

    $( "#setdatapath" ).click(function( event ) {
        if($("#datapath").val() == "") {
            alert( "Data path can not be empty!" );
            
        } else {
            
            var data = {"datapath": $("#datapath").val()};
            $.post("/set/datapath", data, function(returnedData) {
                console.log(returnedData);
                if(returnedData.status == "ok") {
                    $("#info").text("Data path set!");
                    $("#datapath_error").hide();
                    error.status = "ok";
                } else {
                    alert("data path set failed!");
                }
            });
        }
    });
     
    $( "#fetchnodes" ).click(function( event ) {
        $("#console").empty();
        $("#info").text("Starting to fetch nodes...");
        var data = {};
        $.post("/download/nodes", data, function(returnedData) {
            if(returnedData.status == "ok") {
                $("#info").text("Nodes fetched from github!");
                error.status = "ok";
            } else {
                alert("Could not fetch nodes!");
            }
        });
    });


    $( "#readnodes" ).click(function( event ) {
        $("#console").empty();
        $("#info").text("Starting to read nodes ...");
        var data = {};
        $.post("/read/nodes", data, function(returnedData) {
            if(returnedData.status == "ok") {
                $("#info").text("Nodes ready!");
                error.status = "ok";
            } else {
                alert("Could not read nodes!");
            }
        });
    });

    $( "#adduser" ).click(function( event ) {
        var data = {};
        data.username = $("#username").val();
        data.password = $("#password").val();
        $.post("/add/user", data, function(returnedData) {
            if(returnedData.status == "ok") {
                $("#info").text("User ready!");
            } else {
                alert("Could not create user!");
            }
        });
    });


    // if there was an init error, then show that
    switch (error.status) {
        case "nodepath_error":
            $("#nodepath_error").show();
        break;
        case "datapath_error":
            $("#datapath_error").show();
        break;
            
    }

   
}

</script>

</head>
<body onLoad="init()" >
    
    <div id="wrapper">
        <div class="project_header">
            <h1>Setup (CURRENTLY NOT IN USE!)</h1>
            <a href="/">back to projects</a>
        </div>

        
        [[initerror]]
        
        <br><br><br>


        <div class="upload node hidden" id="datapath_error">
            <h3>ERROR: "datapath is not set!"</h3>
        </div>

        <!-- DATA PATH -->
        <div class="source node">
             <h2>SET DATA PATH</h2>
            <p>You need to <span class="strong">create a directory</span> where GLAMpipe can save its data.</p> 
            <p>Then write <span class="strong">full path</span> to "data path" field and click "set data path".</p>
            <label class="strong">data path:</label>
           
            <input id="datapath" name="datapath" placeholder="/full/data/path/here"/>
            <button id="setdatapath">set data path</button>
            
        </div>
                
        <!-- NODES -->
        <div class="source node">
            <h2>UPGRADE NODES</h2>
            <p>You can download latest node set from web by clicking the button below. Remember to <span class="strong">load nodes</span> after download finishes.</p>
            <button id="fetchnodes">Fetch nodes (takes a while)</button>
            <p>You can load (or reload) nodes by clicking the button below.</p>
            <button id="readnodes">(re)load nodes to GLAMpipe</button>
        </div>
        
        <!-- NODES -->
        <div class="source node">
            <h2>BROWSE NODES</h2>
            <p>You browse nodes here.</p>
            <a href="/node-viewer">node viewer</a>
        </div>
        
        <!-- NODES -->
        <div class="source node">
            <h2>ADD USER</h2>
            <input id="username" name="username" placeholder="username"/>
            <input id="password" name="password" placeholder="password"/>
            <button id="adduser">add user</button>
        </div>    


        <div class="warning" id="info"></div>
        <div class="" id="console"></div>
    </div>
    
    <img class="right man" src="images/terrified_man.png" />
    
	
</body>
</html>
