

html, body
{
	font-family: monospace;
	padding: 0px;
	margin: 0px;
    height:100%;

    background-size: 100% 150%;
}

h1
{
	margin: 0px;
}

button {
    font-size:100%;
}

h2, h3 {
	padding:5px;
	color:black;
    margin: 0px;
    font-size:90%;
    height:20px;
    border-color:black;
}



a:link {
    color: #395D5A;
    text-decoration: none;
    
}

/* visited link */
a:visited {
    color: #395D5A;
}



/* selected link */
a:active {
    color: white;
}


input[type='checkbox'] { 
	width:20px;
}




pre {
	white-space: pre-wrap;
}



input.short_input {

	width:3em;
}


input.dynamic_field {

	background-color:#BFCCCB;
	border: 2px solid orange;
    width:300px;
}

input.middle_input {

	width:15em;
    margin-left:5px;
}





.node_bar label {
	font-weight: bold;
	display:block;
	margin-top:10px;
}

.bold {
	font-weight: bold;
}

#result table {
	border: 1px solid black;
	width:100%;
	padding:10px;
}

#result table tr td{
	border-top: 1px solid black;
}


.node_settings {
    display:none;
    height:90%;

}

.node_buttons {
    display:none;
}

.node_info {
	padding:2px;

}

.node_info .description, .node_info .params_description{
	margin-bottom:10px;
}



.node_info .description{
	background-color: #E0E0E0;
}

.node_info .node_title {
    margin-top:3px;
}

.node .view_button {
	background-color: #99B4B2;
	color:white;
	padding:3px;
	margin-bottom:0px;

}

.node .view_button:hover {
	background-color: #395D5A;
}


#node_msg {
	padding:20px;
}

.busy {
	background-color: red;
}

.done {

}

.node_creator {
    width:550px;
    height:400px;
}

#node_creator h2 {
    height:16px;
}

#node_creator h3 {
    height:12px;
}

#node_creator .nodetype_description {
    display:none;
}

#node_creator label, #node_creator div {
	margin-top:10px;
	display:block;
}

#node_creator label {
	font-weight:bold;
}

#node_creator .node_types div {
	margin-left:10px;
}

ul.node_types li {
	color:#5F5F5F;
}

ul.node_types li:hover {
	color:black;
}

#node_creator .node_types > li > div:first-of-type {
	background-color: white;
	font-weight:bold;
	cursor:pointer;
	padding:2px;
}

#node_creator .params {

	padding:5px;
}

.node_bar textarea {
	width:90%;
}



.dynamic_fields, #node_creator .dynamic_fields {
	display:none;
}

#dynamic_fields ul {
	padding-right:20px;
}

#dynamic_fields .array {
	background-color:orange;
	color:white;
    margin-left:10px;
}

#node_creator h2 {
	cursor:pointer;
}


#node_creator .params .submit {
	background-color: #649834;
	color:white;
}

#node_creator button {
	float:right;
}




.collection h2 {
    color:white;
	background-color: #333;
}


.collection h3 {
	background-color: #5F5F5F;
}



.file h2 {
	border-color: #333;
}

.file h3 {
	background-color: #5F5F5F;
}


.query h2 {
	background-color: #333;
}

.query h3 {
	background-color: #5F5F5F;
}

.query .params {
	background-color: #D8D8D8;
}


.node_settings .export h2 {
    background-color: #AE6B6B;
}

.export h2 {
	border-color: #AE6B6B;
}



.cluster h2 {
	background-color: #BA8D32;
}
.cluster h3 {
	background-color: #B9A276;
}



.node_settings .source h2 {
    background-color: #1885C0;
}

.source h2 {
	border-color: #1885C0;
    
}
.source h3 {
	background-color: #699FBC;
}


.node_settings .lookup h2 {
	background-color:#649834;
}

.lookup h2 {
	border-color:#649834;
}

.lookup h3 {
	background-color:#9DC37A;
}


.node_settings .view h2 {
	background-color:#406360;
}

.view h2 {
	border-color:#406360;
}

.view h3 {
	background-color:#406360;
}


.node_settings .transform h2 {
	background-color:#BDA14F;
}

.transform h2 {
	border-color:#BDA14F;
}

.transform h3 {
	background-color:#D5B34F;
}


.node_settings .download h2 {
	background-color:#6153AA;
}

.download h2 {
	border-color:#6153AA;
}

.download h3 {
	background-color:#9686E9;
}



.upload h2 {
	border-color:#612265;
}

.upload h3 {
	background-color:#98399E;
}

.upload .params {
	background-color: #E0DAFF;
}



 table td {
	border: 1px solid black;
	padding:5px;
    font-size:90%;
}

html { 

}


#console img {
	opacity:0.5;
}



.delete {
	float:right;
	width:80px;
}

.delete_confirm {
	padding:10px;
}


.warning {
	background-color: #EFB134;
}



.inline_header {
	display:inline;
}





.strong {
	font-weight:bold;
}

.good {
	background-color: green;
    color: white;
    padding:2px;
}

.bad {
	background-color:red;
    color:white;
    padding:2px;

}

.progress {
	color:black;
}



.details .key {
	font-weight:bold;
}



#footer a {
	padding-right:10px;
	padding-left:10px;
}

.right {
	float:right;
}

.left {
	float:left;
}

.bottom {

	bottom:0px;
}

.after_left {
	margin-left:100px;
}

/* NODE EDITOR */

.nodesource {
	padding:20px;
}

.nodesource h1 {
	color: #395D5A;
}

.nodesource h2 {
	color:white;
	background-color:#99B4B2;
	margin-bottom: 20px;
}

.nodesource h3 {
	color:#395D5A;
	padding:0px;
	margin-top:40px;

}

.nodesource ul li {
	font-weight:bold;
}

.nodesource .help {
	margin-bottom:20px;
	width:550px;
}





/* ********************* NEW UI *********************** */

#project_header {
	background-color:#307BCE;
	color:white;
    padding:5px;
    height:20px;
    width:310px;
}

.collection_pipe {
    width:320px;
    height:80%;
}

.collection_pipe > h2 {
    background-color:#99B4B2;
}

.pipe {
    margin:10px;
    margin-bottom:40px;
}

.pipe h2{
    height:16px;

    border-style: solid;
    border-width: 0px 0px 0px 22px;
   
}

#collection_view {
    left:320px;
    position:absolute;
    top:0px;
    width:  calc(100% - 400px);
    height: calc(100% - 35px);
}


.node {
	width:300px;
    background:#ECECEC;
    margin-bottom:10px;
}

#tabs {
    height:90%;
    padding:0px;
    margin:0px;
}

.ui-corner-flat {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }





.tab {
    height:100%;

}

.IframeWrapper {
    height:100%;
    width:100%
}

.iframetab {
    width:100%;
    height:100%;
    border:0px;
    margin:0px;
    background:url("data/iframeno.png");
}

.delete_icon {
	float:right;
	width:30px;
	height:20px;
	text-align: center;
	vertical-align: middle;
	color:white;
    font-size:14px;
    cursor:pointer;
}

.delete_icon:hover {
    color:red;
    font-size:16px;
}

.drag_icon {
    float:left;
    width:24px;
    height:24px;
    padding:3px;
    cursor: grab;
    
    display:none;
    
}


/* ********************* NODE VIEW *********************** */

#view #controls {
  
    padding:10px;
}

td.array {
    border: 1px solid #5C5C5C;
    background-color: #EFEABA;
}

div.array {
	background-color: #EFEABA;
	margin:1px;
}

td .data-container {
    max-height:12em;
    max-width:320px;
    overflow-y:hidden;
}

td {
    height: 20px;
}

.object {
    background-color:#B6D88C;
}

.array_object {
    background-color:#B6D88C;
    margin-top:5px;
}

.array_array {
    background-color:#E0D99A;
}
/* ********************* BUTTONS *********************** */

button {
    background-color: #99B4B2;
    border-radius:2px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border:none;
    
}

button:hover {
	background-color: #395D5A;
}

button.run, button.test {
	border: 1px solid #5C5C5C;
	font-weight:bold;
}

.node_settings button.run {
    padding:10px;
    margin-bottom:20px;
    background-color:#10772E;

}

.open_settings_button {
    margin-top:20px;
    display:block;
    width:100%;
}


.button {
  text-decoration: none;
  margin-top:1px;
  margin-right:1px;
  width:20px;
  margin-left:280px;
}


.button:hover {
    text-decoration: underline;
    color:black;
}

/* ********************* NODE SETTINGS *********************** */

.node_bar {
	padding:0px;

}

.node_bar button {
	display:block;
}

.node_bar .description {
	margin-bottom:20px;
	margin-top:10px;
}

.node_bar .node_params {
	margin-bottom:20px;
	padding:10px;
	border: 1px solid black;
}

.node_bar .settings_wrapper {
	margin-bottom:20px;
    margin-right:30%;
	color:black;
	padding:10px;
	border: 1px solid black;
	border-top: 0px solid black;
	background-color:white;
    display:none;

}

.node_bar .subhead {
	background-color: white;
	color:black;
	padding:5px;
}

.node_bar table td {
	border: 0px solid black;
	padding:1px;
}

.params_wrapper {
    float:right;
    width:29%;
    display:none;
}


/* ********************* PROJECT LISTING *********************** */


.projects {
    margin: 10px;
}
.projects ul {
    list-style-type: none;
    margin:0px;
    padding:0px
}

.projects ul li {
    margin:2px;
    padding:3px;
}

.projects a:link, #projects a:visited {
    color:black;
}

.projects a:hover {
    color: black;
    text-decoration: underline;
}

.projects .selected {
    background-color: white;

    box-shadow: 5px 5px 5px #888888;
}




#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top:-10px;
    padding-top:5px;
    background-color:#99B4B2;
    
    display:none;
}


#console {
	padding:10px;
	top:0px;
	height:60px;
	color:white;
	z-index:-1;
	overflow:hidden;
	background-color:#BFCCCB;
}

.hidden {
    display:none;
}


#tabs > ul > li.transform {
    background-color:#F6F4C5;
}

#tabs > ul > li.ui-tabs-active.transform {
    background-color:#BDA14F;
}

#tabs > ul > li.collection {
    background-color:#B6B6B6;
}

#tabs > ul > li.ui-tabs-active.collection {
    background-color:#333;
}

#tabs > ul > li.export {
    background-color: #F2DCDC;
}

#tabs > ul > li.ui-tabs-active.export {
    background-color: #AE6B6B;
}

#tabs > ul > li.cluster {
    background-color: #D4E5EF;
}

#tabs > ul > li.ui-tabs-active.cluster{
    background-color: #BA8D32;
}

#tabs > ul > li.source {
    background-color: #D4E5EF;
}

#tabs > ul > li.ui-tabs-active.source {
    background-color: #1885C0;
}

#tabs > ul > li.lookup {
    background-color: #D5F0BB;
}

#tabs > ul > li.ui-tabs-active.lookup {
    background-color: #649834;
}


.projects li:hover {
    background-color: #307BCE;
    color:white;
}


.clear {
    clear:both;
}

.node_console {

    padding:10px;
    margin:5px;
    width:400px;
    max-height: 400px;
    overflow-y:auto;
}

.pointer {
    cursor:pointer;
}

.add_node {
    margin-left:4px;
}

.border {
    border: 1px solid black;
}

.padding {
    padding:3px;
} 

#dialog-confirm {
    display:none;
}
