.draggable
{
	position: absolute;
}

div.block, h1.block, h2.block, p.block
{
	background-color: #E0E8FF;

}



.highlighter
{
	border: 1px solid #CFDF62 !important;
	background-color: #F1FF90 !important;
	margin-bottom: 2px !important;
	padding: 0px !important;
	z-index: 3;
}

.highlighter .highlighter
{
	border: 1px solid #7DAB76 !important;
	background-color: #BAFFB0 !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
}


html
{
	padding: 0px;
	margin: 0px;
}

body
{
	font-family: monospace;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	background-color: white;
}

h1
{
	margin: 0px;
	font-size: 20px;
}

h2
{
	font-size: 15px;
	margin: 0px;
}

h3
{
	font-size: 12px;
	margin: 0px;
}

p, div
{
	margin: 0px;
}

a
{
	text-decoration: none;

}

.middle-label, .source-label, .destination-label
{
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
}

div.connector
{
	background-color: #6F6F6F;
	z-index: 1000;
}

table.main_table 
{
	width: 100%; 
	border-collapse: separate;
}
	
td.menu
{
	padding: 5px;
}

.menu ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-position: outside;
}

.menu li
{
	border: none;
	padding: 0px;
	font-size: 12px;
	margin-bottom: 3px;
}

.menu li a
{
	display: block;
	border: 1px solid #262A37;
	width: 100px;
	color: #262A37;
	text-decoration: none;
	padding: 1px;
	background-color: #E0E8FF;
}

.menu li a.active_menu
{
	color: #FF9900;
	border-color: #FF9900;
}

.menu li a:hover
{
	color: #FF9900;
	border-color: #FF9900;
}

.block ol, .block ul
{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 25px;
}

.code
{
	font-family: monospace;
	line-height: 1.5em !important;
}
