@charset "UTF-8";

@font-face {
    font-family: WikiFont;
    src: url(WikiFont-Glyphs.woff);
}

html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
      }

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight:300;
	color:#444;
	background-color: #444;
	padding: 0px;
}

a {
	color: #2B67C9;
	text-decoration: none;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

a:hover {
	color:#347BFF;
	cursor: pointer;
}

.ibutton {
    white-space: nowrap;
	color:#347BFF;
    font-weight: 500!important;
    text-transform:uppercase;
    background: none!important;
    border:none;
    padding:0!important;
    font: inherit;      /*border is optional*/
    cursor: pointer;
}

a.run_single {
    white-space: nowrap;
}

.delete, .idelbutton {
    white-space: nowrap;
    color: #d42700;
    font-weight: 500!important;
    text-transform:uppercase;
    background: none!important;
    border:none;
    padding:0!important;
    font: inherit;      /*border is optional*/
    cursor: pointer;
}

a.delete:hover, .idelbutton:hover {
    color: #ff2f00;
    cursor: pointer;
}

table {
	border-collapse: collapse;
	width:100%;
}

th {
	font-weight:400;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    text-align:left;
    /* border: solid 1px; */
}

tr:hover {background-color: #fefefe}

td:first-child, th:first-child {
    padding-left: 0;
}

table.documents {
   width: 100%;
}

table.documents td:first-child, table.documents th:first-child {
   padding-left: 20px;
}

#projectList {
    margin-top: 20px;
}

#projectList td:first-child, #projectList th:first-child {
    padding-left: 20px;
}

linklist {
	margin: 0em 0 1em 0;
}

linkrow {
}

linkcell {
	display: table-cell;
	padding:1px 10px 1px 0px;
}

.settingtable td:first-child, .settingtable th:first-child {
   padding-left: 0px;
}

.settingtable th, .settingtable td {
   padding-left: 10px;
}


.settingslist {
	margin: 1em 0;
}

.settingslist th, .settingslist td {
    padding-left:20px;
	border-bottom:none;
}

.settingslist td:first-child, th:first-child {
	padding-left:0px;
}


.vbox {
	    display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:         flex;
        -webkit-flex-direction: column;
           -moz-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
}

.hbox {
display: -webkit-flex;
display:    -moz-flex;
display:     -ms-flex;
display:         flex;
-webkit-flex-direction: row;
   -moz-flex-direction: row;
	-ms-flex-direction: row;
		flex-direction: row;
}

.space-between {
-webkit-justify-content: space-between;
   -moz-justify-content: space-between;
	-ms-justify-content: space-between;
		justify-content: space-between;
}

.main {
-webkit-flex: 1;
   -moz-flex: 1;
	-ms-flex: 1;
		flex: 1;
}

header {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	height: 49px;
	background-color:#FFF;
	padding-left: 20px;
	margin-bottom:1px;
}

header #version {
	margin-left:10px;
}

content {
}

data-workspace {
	background-color: #EFEFEF;
	width: 100%;
	margin-left: 1px;
	        -webkit-flex: 5;
           -moz-flex: 5;
            -ms-flex: 5;
                flex: 5;
				overflow:auto;
}

footer {
}

pipe {
   background-color: #EFEFEF;
   width: 370px;
   padding: 0 0 20px 20px;
   overflow-y: auto;
   overflow-x: hidden;
}

.title, h1, h2, h3, h4 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}


.sitetitle {
	font-size: 24px;
}

.breadcrumbblock {
	display: -webkit-flex;
	align-items: center;
    display: flex;
	padding: 5px 10px 5px 0px;
}

.pagetitleblock {
	width:100%;
	display: -webkit-flex;
	flex-direction: column;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}

.pagetitle, h1 {
   font-size: 20px;
}

.sectiontitleblock {
	width:100%;
	display: -webkit-flex;
	align-items: flex-end;
    display: flex;
	padding: 5px 0px 5px 0px;
}

.sectiontitle, h3 {
   font-size: 16px;
   margin: 0px;
}


.sectionicon {
	margin-left: auto;
	padding-right:20px;
}

.box {
	color:#444;
	background-color: #FFF;
	border-radius: 5px;
	min-height: 50px;
	overflow: hidden;
	padding: 10px 5px 10px 10px;
	margin-bottom:10px;
	margin-right:20px;
	display: -webkit-flex;
    display: flex;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.box:hover {
    cursor: pointer;
    border-left: solid rgba(52,123,255,1) 10px;
    padding-left: 10px;
}

.boxleft {
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

.active {
  	display: inline;
}

.itemsleft {
	margin-right: auto;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: row;
   flex-direction: row;
   align-items:center;
   -webkit-align-items:center;
}

.itemsright {
	margin-left: auto;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: row;
   flex-direction: row;
   align-items:center;
   -webkit-align-items:center;
}

.boxright {
	margin-left: auto;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: row;
   flex-direction: row;
   align-items:center;
   -webkit-align-items:center;
}

.boxicon {
	margin-left: auto;
}

.boxtitle {
	font-weight:400;
	width:240px;
}

.inlinetitle, fatboxtitle, h4 {
    font-size: 16px;
    display: block;
}

.inlinetitleblock {
	width:100%;
	display: -webkit-flex;
    display: flex;
	margin-bottom: 5px;
	-webkit-flex-direction: column;
   flex-direction: column;
}

a .inlinetitleblock {
	color:#444;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

a .inlinetitleblock:hover {
	color:#347BFF;
	cursor:pointer;
}

.inlinetitleicon {
	bottom: -15px;
	padding-right:10px;
	margin-left: auto;
	
}

.icon {
	font-size:24px;
	color:#CFCFCF;
}

.icon:hover {
	cursor:pointer;
	color:#808080;
}

.pageheader {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	height: 60px;
	width: 100%;
}
a .pageheader {
	color: #444;
}

a .pageheader:hover {
	color: #347BFF;
	cursor:pointer;
}

.fatbox {
	background-color: #FFF;
	border-radius: 10px;
	position: relative;
	left: -10px;
	right:10px;
	padding: 20px;
	margin-bottom: 20px;
}

fatboxdescription {
	padding: 10px 0 0 0;
	display:block;
}

fatboxbuttons, fatboxsubmitblock {
   margin-top: 10px;
   display: block;
}

.optionlist {
	padding-top:5px;
}

.listoption {
	color:#808080;
	padding: 5px 0px 5px 0px;
	margin: 0px;
}

a .listoption {
	color: #808080;
	cursor:pointer;
}

a .listoption:hover {
	color: #347BFF;
}

.listtitle {
	font-weight: 500;
	margin: 0px;
	color:#444;
}

.listtext {
	margin: 0px;
	font-weight: 300;
}

.infotext {
	font-style:italic;
	font-weight:300;
}

.boxtag {
	font-size: 11px;
	text-transform: uppercase;
	line-height: 11px;
	margin: 0px;
}
.boxtext.boxtitle {
	margin: 0px;
	background-color: #efefef;
}

settingscontainer {
	display:block;
	background-color: rgba(255,255,255,1);
	margin-bottom:1px;
}

settingsheader {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	height: 60px;
	padding: 0px 20px;
	cursor: pointer;
}

settingsheader:hover {
	border-left: solid rgba(52,123,255,1) 10px;
	padding-left:10px;
}

.settingstitle, h2 {
   font-size: 18px;
}

settingssubtitle {
	display: -webkit-flex;
	align-items: flex-end;
    display: flex;
	margin-left: 20px;
	padding: 20px 0px 10px 0px;
}

settingsblock {
   display: -ms-flexbox;
   display: -webkit-flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   display: flex;
   flex-wrap: wrap;
}

settingsrow {
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	display: flex;
}

submitblock {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   padding: 10px 20px 20px 20px;
}


setting {
   display: flex;
   width: 100%;
   background-color: #efefef;
   margin: 7px 20px;
   padding: 10px;
   border-radius: 5px;
   justify-content: space-between;
   flex-wrap: wrap;
   max-height:600px;
   overflow: auto;
}

.one {
    flex-direction: column;
}



settingtitle {
	display:block;
	font-weight: 500;
}

settinginfo {
   flex: 1 0 300px;
}

settingaction {
   width: 300px;
   vertical-align: middle;
   flex: 1 0 300px;
}

dataheader {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -ms-flex-align: center;
   -webkit-align-items: center;
   -webkit-box-align: center;
   height: 60px;
   padding: 0px 20px;
   justify-content: flex-end;
}


data-controls {
   display: -ms-flexbox;
   display: -webkit-flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   display: flex;
   justify-content: space-between;
}

filter {
   background-color: #cfcfcf;
   display: flex;
   padding: 3px 10px;
   border-radius: 10px;
   transition-duration: 0.2s;
}


filter:hover {
   background-color: white;
}

.filtercross {
   margin-left: 3px;
}

input {
   font-size: 13px;
   font-weight: 300;
   color: #333;
   padding: 5px 3px;
   margin: 5px 0;
   border-top-color: rgba(0, 0, 0, 0);
   border-top-style: solid;
   border-top-width: 1px;
   border-right-color: rgba(0, 0, 0, 0);
   border-right-style: solid;
   border-right-width: 1px;
   border-bottom-color: rgba(0, 0, 0, 0.15);
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: rgba(0, 0, 0, 0);
   border-left-style: solid;
   border-left-width: 1px;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   outline: none;
   width: 100%;
   background: transparent;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

input[type=checkbox] {
	width:20px;
}

input[type="file"] {
    padding-left: 0;
    border-bottom: none;
}

input:focus{
   background-color: rgba(255, 255, 255, 0.5);
   border-color: black
}

input#username, input#password {
    width: 150px;
}

textarea {
   font-size: 13px;
   font-weight: 300;
   height: 60px;
   padding: 5px 3px;
   margin: 5px 0;
   border: 1px solid rgba(0, 0, 0, 0.15);
   -webkit-transition: 0.5s;
   transition: 0.5s;
   width: 100%;
   background-color: rgba(255, 255, 255, 0);
   outline: none;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

textarea:focus {
   border: 1px solid #000;
   background-color: rgba(255, 255, 255, 0.5);
}

textarea.editor {
	height: 300px;
}

textarea:focus {
    border-bottom: 1px solid #444;
}

.button {
   background-color: #347BFF;
   font-weight: 300;
   border: none;
   color: white;
   padding: .6em 1.5em;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   cursor: pointer;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -webkit-transition-duration: 0.2s;
   transition-duration: 0.2s;
   font-family: 'Open Sans', sans-serif;
   align-self: center;
}


.button:hover {
	box-shadow:0 1px rgba(0,0,0,.1), inset 0 -3px rgba(0,0,0,.2);
	border-bottom-color:#ccc;
	outline:0
}

data {
	overflow-x:auto;
}

setting button {
    vertical-align: middle;
    margin: 0.5em 0em;
    padding: 0.5em;
    color: #333;
}

button.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
	text-align: left;
	color:#444;
	padding: 5px 0px;
	margin: 0px;
	outline: none;
	background-color:white;
	font-size:13px;
	border-bottom:solid #efefef 1px;
}

button.accordion.active, button.accordion:hover {
    border-left: solid rgba(52,123,255,1) 7px;
    padding-left: 5px;
    transition-duration: 0.2s;

}

.create-node{
	align-self: flex-end;
}

div.panel {
    display: none;
}

div.panel.show {
    display: block !important;
}

.group {
	font-weight:500;
}

.sub {
	font-weight:300;
	padding-left:10px !important;
}



.panel .listoption {
	padding-left:5px;
    border-bottom: solid #efefef 1px;
    border-left: solid rgba(52,123,255,0.2) 7px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.panel .listoption:hover {
	border-left: solid rgba(52,123,255,1) 7px;
}

::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #efefef;
    border-left: none;
}
::-webkit-scrollbar-thumb {
    background-color: #666;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

select {
   vertical-align: middle;
   margin: 0.5em 0em;
   padding: 0.5em;
   color: #333;
   color: #666;
   width: 100%;
   height: 30px;
   font-size: 13px;
   background: transparent;
   border: 1px solid rgba(0, 0, 0, 0.15);
   font-weight: 300;
   outline: none;
}

select[multiple=multiple] {
	height:300px;
}

.help {
   margin: 0.5em 0 1em 0;
}


label {
   font-weight: 500;
   display: block;
}


.params label {
	font-weight:500;
	margin-top:0.8em;
	display:block;
}

b {
	font-weight:400;
}

.alert {
	font-size:0.9em;
	font-style:italic;
	color:#EF5009;
	font-weight:400;
}

.summary {
	color:#999;
	font-size:0.9em;
	font-style:italic;
}

.fitwidth {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}


/*  added by AH */

.good {
 background-color: #efefef;
}

.selected-match {
   background-color: #cfcfcf;
}

.bad {
 color:red;
}

.object-cell {
	background-color:#E7EAEA;
	padding:2px;
	margin: 2px;
}

.object-cell:hover {
	background-color:#94c080;
	cursor:pointer;
}

.bold {
	font-weight:bold;
}

.italic {
	font-style:italic;
}

#filters > div > div {
	display:inline;
}

#filters > div {
	border: 1px solid orange;
	padding:2px;
}

#filters .wikiglyph-cross {
	margin-left: 1em;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#login {
	margin-left:auto;
	margin-right:20px;
}

.checkbox_holder label {
	display:inline;
}

.inline {
	display:inline;
}

.info {
	border: 1px solid orange;
	padding:2px;
}

.error {
	border: 1px solid red;
	padding:2px;
}

.orphan {
	border-left:solid red 10px;
}

table.documents thead td div {
	font-weight:bold;
}

table thead {
    background-color: #efefef;
}

table.documents tbody td {
    max-height: 10em;
    max-width: 350px;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 5px 0 5px 10px;
}


table.documents tbody td div.edit:hover {
    cursor:pointer;
    opacity:1;
    background-color: #efefef;
}

.button.toggle_all {
    margin-right: 10px;
}

.box-noflex {
    display: block;
    color: #444;
    background-color: #FFF;
    border-radius: 5px;
    /* height: 50px; */
    padding: 20px;
    margin-bottom: 10px;
}

.output {
    background-color: #F5F5F5;
}



#collection-list-container { 
	position:absolute;
	margin-top:70px;
	padding:10px;
	display:none;
	background-color:white;
}

.collection-item:hover {
	background-color:#eaeaea;
}

.debug {
	display:none;
}

.debug-link {
	right: 0px;
	margin: 10px;
}

.long-input {
	width:600px;
}

.node-description {
	margin-left:auto;
	margin-right:20px;
	display:none;
	padding:20px;
	background-color: #efefef;
}

.small {
	transform: scale(0.8);
}

.current {
	border-left: solid rgba(52,123,255,1) 10px;
	padding-left:10px;
}

#login-popup input {
	margin-right: 20px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto 
}



#node-progress {
	background-color: #959595;
	color: white;
	padding: 2px 15px 2px 15px;
	margin-left: 370px;
	position:absolute;
}

#node-progress-bar {
	margin-left: 100px;
	width:80%;
}

.manual-edit {
	background-color: yellow;
}

.cover-frame {
	width:150px;
}

input.short {
	width:3em;
}

select.narrow {
	width: auto;
}

input.narrow {
	width:auto;
	margin-left: 10px;
}

.message {
    width: 100%;
    margin: 20px;
}

.initial {
	background-color: #ccc;
	font-size: 1.3em;
	font-weight: 500;
	color: #efefef;
	display: flex;
	justify-content: center;
	align-items: center;
}

settinglistcontainer {
	display: block;
	max-height:400px;
    border: 1px solid rgba(0, 0, 0, 0.15);
	overflow: auto;
	padding:10px;
}

settinglistcontainer input[type=checkbox] {
	width: 20px;
}

settinglistcontainer ul {
	list-style-type: none;
}

settinglistcontainer label {
	display: inline
}

.inline {
	display:inline;
}

table.documents tbody td {
    max-height: 10em;
    max-width: 350px;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 5px 0 5px 10px;
}

table.wikidata_export_conf tbody tr td {
    border-bottom: none;
    height: 45px;
}

.button.add-filter {
    margin: 10px 0;
}

.edit {
    color: #616161;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#field-selector div div {
    cursor: pointer;
    padding: 2px 5px;
    margin: 1px;
    border-radius: 4px;
}

/* from https://codepen.io/brunjo/pen/azdWjY */
.bar {
  width: 100%;
  height: 20px;
  border: 1px solid #2980b9;
  border-radius: 3px;
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #2980b9,
      #2980b9 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

.busy {
	background-color: #c4dec0;
}

input.required, select.required {
	border-left: 2px solid red;
}
