
body {
	padding-left:20px;
	padding-right:20px;
}

#navbar {
	width: 100%;
	clear: both;
	color: white;
	font-size: 90%;
	font-weight: bold;
	line-height: 34px;
	background: linear-gradient(#004494, #003676);
}

#navbar a, #navbar a:visited {

    color: white;
}

#navbar ul li {
    list-style: none outside none;
    display: inline;
    margin-left:5px;
}

#navbar ul li.active a {
	background-color:#e47526;
	padding:5px;
}

#container {
  display: flex; 
  flex-direction: row ;
}

.flex-item {
	width:20%;
	margin:10px;
}

#main {
	width:45%;
}

.ui-state-active, ui-accordion-header, .ui-widget-header {
	background-color: #d9ffc9 !important;
}

#tree ul {
 list-style: none;
}

#placeholder {
	width:700px;
	height: 500px;
}

#portal-logo {
	height:30px;
}

#portal-logos > span > a{
	height:40px;
}

#above-navbar {
	height:40px;
}


.info {
	border: 1px solid #e0e0e0;
	border-radius: 7px;
	padding:10px;
	background-color: #d9ffc9;
	
}


.box {

	border-radius: 7px;
	padding:10px;
	
}

.facet {
	border: 1px solid #e0e0e0;
	border-radius: 7px;
	display:inline;
	padding:5px;
	margin:2px;
}

.strong {
	font-weight: bold;
}

.good {
	font-weight: bold;
	color: green;
}

.bad{
	font-weight: bold;
	color: red;
}

ul {
    margin:0;
    padding: 0;
}

li {
	list-style:none;
}


#percentages table {
	width:100%
}

tr, td {
    vertical-align: top;
}

 td, th {
    padding: .3em;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
    background-color: #2a4a71;
    color: white;
}

.smaller {
	font-size:60%;
}
