h2, h3 {
	background-color: grey;
	padding:5px;
	color:white;
}

p {
	padding:5px;
}

input, textarea {
	width:90%;
}

#result table {
	border: 1px solid black;
	width:100%;
	padding:10px;
}

#result table tr td{
	border-top: 1px solid black;
}


.selected h2{
	background-color: #2A62CC;
}

#node_settings {
	float:right;
	width:350px;
	height:100%;
	background-color: white;
}

.node_info {
	margin-bottom:10px;
	background-color: white;
}

#node_msg {
	padding:20px;
	border: 1px solid black;
}

.busy {
	background-color: red;
}

.done {
	background-color: #A0CF99;
}

#node_creator {
	position:absolute;
	top:0px;
	right:0px;

	z-index:100000;
	padding:20px;
	background-color: white;
	width:550px;
	border: 1px solid black;
	font-size:14px;;
}

#node_creator label, #node_creator div {
	margin-top:10px;
	display:block;
	
}

#node_creator label {
	font-weight:bold;
}

#node_creator .node_types div {
	margin-left:20px;
}

#node_creator .settings {
	border: 1px solid black;
	border-left: 4px solid black;
}

#node_creator .settings .submit {
	background-color: #649834;
	color:white;
}

#node_creator button {
	float:right;
}

.button {
	//font-family: 'Lobster', sans-serif;
  background: #47666A;
  -moz-border-radius: 5px;
  border-radius: 0px 0px 0px 10px;
  color: #ffffff;
  font-size: 1em;
  padding: 5px 10px 5px 10px;
  text-decoration: none;

  width:120px;
  margin-top:1px;
  margin-right:1px;
}



.export h2{
	background-color: #AE6B6B;
}

.cluster h2{
	background-color: #BA8D32;
}
.cluster h3{
	background-color: #B9A276;
}


.source h2{
	background-color: #1885C0;
}
.source h3{
	background-color: #699FBC;
}

.lookup h2 {
	background-color:#649834;
}

.collection h2 {
	background-color: #1885C0;
}
