

// DATAPATH
// - where GLAMpipe can strore project data on *non-docker* installation
// default: ""
var dataPath = "";

var uiPath = "/";
var staticPath = "/static"; // path for non-GLAMpipe html files (if there is a need to serve files from same container)

// MODE (server/desktop)
var isServerInstallation = false;
var disableBatchDownloads = true;
var canRegister = true;
var secret = "Set something here";

// VISIBLE nodes
// defines what nodes are available for use
// default: "null" -> all nodes are available
var visible_tags = null;


// PROXY passes
// - urls that are allowed for UI to make requests via GLAMpipe's own proxy (bypassing CORS restrictions)
var PROXY_passes = [
	"http://localhost/",
	"https://demo.dspace.org/",
	"http://demoprints.eprints.org/"
]




// IP passes (NOT USED)
// - one can define IPs that are allowed to execute certain API paths
var IP_passes = [
	{
		path: "/api/v1/collections/p15_admin-embargopyynnt_c0_requests/", 
		method: "PUT", 
		ip:"127.0.0.1",
		label: "embargo-pyynnöt"
	}
]


// NODEPATH
// - where are GLAMpipe node files?
// default: "" (means that GP uses internal nodes)
var nodePath = ""; 

var MP = "__mp";
var url = "http://localhost";

var exports = module.exports = {};


exports.source =  MP + "_source";
exports.loadNodesFromGithub = false;
exports.dataPath = dataPath;
exports.nodePath = nodePath;
exports.uiPath = uiPath;
exports.staticPath = staticPath;
exports.url = url;
exports.isServerInstallation = isServerInstallation;
exports.disableBatchDownloads = disableBatchDownloads;
exports.canRegister = canRegister;
exports.secret = secret;
exports.tags = visible_tags;
exports.IP_passes = IP_passes;
exports.PROXY_passes = PROXY_passes;

