<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GLAMpipe</title>

<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/knockout.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/funcs.js"></script>

<link rel="stylesheet" type="text/css" href="/css/metapipe.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<style>
	
</style>
<script>

	var BetterListModel = function () {
		var self = this;
		this.itemToAdd = ko.observable("");
		this.allItems = ko.observableArray(); // Initial items
		this.loadItems = function () {
			$.getJSON("/get/projects", function(data) { 
				for(var i = 0; i< data.length; i++) {
					self.allItems.push(data[i]);
				}
				
			})
		}
		
	 
		this.addItem = function () {
			var match = ko.utils.arrayFirst(self.allItems(), function(item) {
				return self.itemToAdd() === item.title;
			});
			
			if ((this.itemToAdd() != ""))  {// Prevent blanks 
				if(match) {
					alert("Project title \"" + self.itemToAdd() + "\" exists!");
				} else {
					var data = {'title':self.itemToAdd()};
					$.post("/create/project", data, function(returnedData) {
						self.itemToAdd(""); // Clear the text box 
						self.allItems([]);
						self.loadItems();
					});
				}
			}
		};
	 
		this.removeSelected = function () {
			this.allItems.removeAll(this.selectedItems());
			this.selectedItems([]); // Clear selection
		};
	 
		this.sortItems = function() {
			this.allItems.sort();
		};
	};

	function onLoad()
	{
		var projects = new BetterListModel();
		ko.applyBindings(projects);
		projects.loadItems();

        // TABS CREATE
        var $tabs = $('#tabs').tabs();

        // check if serves is ok. If not, then show error setup
        $.getJSON("/status", function(data) { 
            console.log(data);
            if(data.status == "ok")
                loadTabFrame("#tabs-1", "http://artturimatias.github.io/GLAMpipe/");
            else
                loadTabFrame("#tabs-1", "/setup");
        })



        $("#show_project_creator").on("click", function() {
            $("#new_project").show();
        });
	}
		
	
</script>
</head>
<body onload="onLoad();">

    <!-- PROJECT HEADER -->
    <div id="project_header">
        <h2 class="inline_header">Projects</h2>
         <button id="show_project_creator" class="right" >add project</button>
    </div>
    

    <!-- PROJECTS -->
	<div class="collection_pipe">
        <div class="pipe">
            <div id="new_project" class="hidden node source">
                <h2>Create project</h2>
                <form data-bind="submit:addItem">
                    <input type="text" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' />
                    <button type="submit" data-bind="enable: itemToAdd().length > 0">Add</button>
                </form>
            </div>
        
            <ul data-bind="foreach: allItems">
                <li>
                    <a href="#" data-bind="text: title, attr: {href: 'project/' + _id}"></a>
                </li>
            </ul>
        </div>
	</div>
    
    <!-- VIEW TABS -->
	<div class="collection_view">
		
        <div id="tabs">
            <ul>
                <li><a class="tabref" href="#tabs-1" rel="http://artturimatias.github.io/GLAMpipe/">Welcome!</a><span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
            </ul>

          <div class="tab" id="tabs-1"></div>

        </div>
	</div>
    

	</body>
</html>
