<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Node Editor</title>

<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/knockout.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>

<link rel="stylesheet" type="text/css" href="/css/metapipe.css" />
<style>
	textarea {width:100%; height:3em; margin-top:1em;}
    .script {}
    pre.prettyprint {margin:0px; }
    .nodesource {width:650px;}
    .nodesource h2 {margin-top:2em; margin-bottom:5px; width:550px;}
    #json_container {height:90%; width:40%; position:fixed; right:0px; top:0px; margin-right:20px;}
    #result {height:90%}
    #scripts .script {display:none}
    #views .view {display:none}
</style>
<script>

	var NodeList = function () {
		var self = this;
		this.itemToAdd = ko.observable("");
		this.nodes = ko.observableArray();
		this.loadItems = function () {
			$.getJSON("/get/nodes", function(data) { 
				for(var i = 0; i< data.length; i++) {
					self.nodes.push(data[i]);
				}
			})
		}
		
	 
		this.selectedNode = ko.observable();
		
		this.select = function (data, event) {
			$.getJSON("/get/node/" + data.nodeid, function(nodeData) {
				self.selectedNode(nodeData);
                self.closeNodes();
			});
		}
		
		this.removeSelected = function () {
			this.nodes.removeAll(this.selectedItems());
			this.selectedItems([]); // Clear selection
		};
	 
		this.sortItems = function() {
			this.nodes.sort();
		};

		this.open = function (data, event) {
            var obj = $(event.target);
            obj.parent().find(".script").show()
		};

		this.openNodes = function () {
			$("#node_creator").show();
		};

		this.closeNodes = function () {
			$("#node_creator").hide();
		};
		
		this.openNodeTypes = function(data, event) {
			var obj = $(event.target);
			var current = obj.parent().find(".node_types");
			
			// toggle
			if(current.is(":visible")) {
				current.hide();
			} else {

				// close all tabs
				obj.parent().parent().find(".node_types").hide();
				obj.parent().parent().find(".settings").hide();
				// open current tab
				current.show();
			}

		};

		this.script2html = function (data, ele) {
			
			if(typeof data === "undefined")
				return ele + ": no function!";
			
			if (data instanceof Array)
				var str = data.join("\n");
			else
				var str = data;
			
			var script = $("<pre class=\"prettyprint linenums\">"+str+"</pre>");
			$("#" + ele + "_src").append(script);
			PR.prettyPrint(script);
			
			return ele;
		}
		
		this.view2html = function (data, ele) {
			
			if(typeof data === "undefined")
				return ele + ": no view!";
			
			if (data instanceof Array)
				var str = data.join("\n");
			else
				var str = data;

			return str;
		}


		this.scriptview2html = function (data) {
			
			if(typeof data === "undefined")
				return "";
			
			if (data instanceof Array)
				var str = data.join("\n");
			else
				var str = data;

			return str;
		}
        
        this.save = function () {
            console.log(self.selectedNode());
           var data = {scripts:{}, views:{}};

           data.title = $("#title").val();
           data.description = $("#description").val();
           
           data.nodeid = self.selectedNode().nodeid;
           data.type = self.selectedNode().type;
           data.subtype = self.selectedNode().subtype;
           
           $("#scripts textarea.script").each(function(index) {
               var id = $(this).attr("id");
               var text = $(this).val().split("\n");
               data.scripts[id] = text;
           });

           $("#views textarea.view").each(function(index) {
               var id = $(this).attr("id");
               var text = $(this).val().split("\n");
               data.views[id] = text;
           });

           
           $("#result").val(JSON.stringify(data,null,'\t'));
        }

	};

	function onLoad()
	{
		var projects = new NodeList ();
		ko.applyBindings(projects);
		projects.loadItems();

	}
		
	
</script>


</head>
<body onload="onLoad();">

	<div class="project_header">
		<h1 class="inline_header"><a href="/" title="back to projects">Main</a> > node viewer</h1>
		<h1 class="inline_header" id="project_title"></h1>
		<button data-bind="click: openNodes" class="add_source" >Choose node</button>
	</div>

	<div class="nodesource" data-bind="with: selectedNode">
		<h1 data-bind="text: type.toUpperCase() + ' > ' + subtype +' > '+ title"></h1>

		<h2>title</h2>
        <textarea id="title" data-bind="text:title"></textarea>
        
		<h2>description</h2>
        <textarea id="description" data-bind="text:description"></textarea>
		
		
		<h1>SCRIPTS</h1>
        
        <div id="scripts">

            <div>
                <h2 data-bind="html: $root.script2html(scripts.init, 'init'), click:$root.open">init</h2>
                <div class="help script">Init script is called once when running node. </div>
                <div id="init_src" class="script"></div>
                <textarea id="init" class="script" data-bind="text: $root.scriptview2html(scripts.init)"></textarea>
            </div>
            
            <div>
                <h2 data-bind="html: $root.script2html(scripts.pre_run, 'pre_run'), click:$root.open">run</h2>
                <div class="help script">pre_run script is executed before run script. For example, a download node can set url here and then run script handles the result. </div>
                <div id="pre_run_src" class="script"></div>
                <textarea id="pre_run" class="script" data-bind="text: $root.scriptview2html(scripts.pre_run)"></textarea>
            </div>

            <div>
                <h2 data-bind="html: $root.script2html(scripts.run, 'run'), click:$root.open">run</h2>
                <div class="help script">Run script is executed once per record (excluding source nodes). </div>
                <div id="run_src" class="script"></div>
                <textarea id="run" class="script" data-bind="text: $root.scriptview2html(scripts.run)"></textarea>
            </div>

            <div>
                <h2 data-bind="html: $root.script2html(scripts.finish, 'finish'), click:$root.open">run</h2>
                <div class="help script">Finish is run after records have been prosessed. </div>
                <div id="finish_src" class="script"></div>
                <textarea id="finish" class="script" data-bind="text: $root.scriptview2html(scripts.finish)"></textarea>
            </div>

            <div>
                <h2 data-bind="html: $root.script2html(scripts.hello, 'hello'), click:$root.open">hello</h2>
                <div class="help script">Script is called *before* node is inserted to database. 
                Therefore it is possible to set for example node's title (see source - file - upload node).
                </div>
                <div id="hello_src" class="script"></div>
                <textarea id="hello" class="script" data-bind="text: $root.scriptview2html(scripts.hello)"></textarea>
            </div>

            <div>
                <h2 data-bind="html: $root.script2html(scripts.bye, 'bye'), click:$root.open">bye</h2>
                <div class="help script">This is called when node is deleted. Chanche say by to the user.</div>
                <div id="bye_src" class="script"></div>
                <textarea id="bye" class="script" data-bind="text: $root.scriptview2html(scripts.bye)"></textarea>
            </div>


            <div>
                <h2 data-bind="html: $root.script2html(scripts.login, 'login'), click:$root.open">url</h2>
                <div class="help script">Upload nodes must provide login.</div>
                <div id="login_src" class="script"></div>
                <textarea id="login" class="script" data-bind="text: $root.scriptview2html(scripts.login)"></textarea>
            </div>
            
            <div>
                <h2 data-bind="html: $root.script2html(scripts.view, 'view'), click:$root.open">view</h2>
                <div class="help script">View script can be used for creating dynamic views. </div>
                <textarea id="view" class="script" data-bind="text: $root.scriptview2html(scripts.view, 'script')"></textarea>
            </div>
        </div>


		<h1>VIEWS</h1>
        
        <div id="views">
        
            <h2>params</h2>
            <div class="help">Params are displayed to the user when node is created. 
            Params are saved to database and these cannot be changed afterwards. 
            Parameters are provided to node scripts via <b>context.node.params</b>.</div>
            <textarea id="params" class="view" data-bind="text: $root.view2html(views.params, 'params_src')"></textarea>
            

            <h2>settings</h2>
            <div class="help">Settings are displayed to the user when running node. 
            Settings are saved to database when the node is executed. Settings are provided to node scripts via <b>context.node.settings</b>.</div>
            <textarea id="settings" class="view" data-bind="text: $root.view2html(views.settings, 'settings_src')"></textarea>

            <h1>SCRIPT CONTEXT</h1>
            <p>Scripts are executed in a limited context. </p>
            <div>
                <ul>
                    <li>context.doc</li>
                    <p>Contains current record.</p>
                    <li>context.data</li>
                    <p>For API nodes (API source and API lookup) context.data holds the request response.</p>
                    <li>context.node</li>
                    <p>Contains node object itself (params and settings).</p>
                    <li>context.doc_count</li>
                    <p>Contains total record count.</p>
                    <li>context.count</li>
                    <p>Contains loop counter (i.e. how many records have been processed).</p>
                </ul>
                <p>Nodes communicate with outer world via "out" object.</p>
                <ul>
                    <li>out.url</li>
                    <p>Some nodes (like API lookup) must provide URL. </p>
                    <li>out.value</li>
                    <p>This is what is stored to database. All nodes must set this.</p>
                    <li>out.say</li>
                    <p>This allows node to communicate directly to the user. </p>
                </ul>
            </div>
        
        </div>
        
        <h2>SAVE</h2>
        
		
	</div>
    
    <div id="json_container">
        <textarea id="result"></textarea>
        <button id="save" data-bind="click:$root.save">update JSON</button>
    </div>


	<div id="node_creator">
		<button data-bind="click:closeNodes">close</button>
		<h1>Editor: Choose node</h1>
		<!-- ko foreach: nodes -->
		<div data-bind="attr:{id:_id.type + '_node', class:_id.type}">
			<h2 data-bind="text: _id.type,click:$parent.openNodeTypes"></h2>
			<p data-bind="html:_id.description"></p>
			<div data-bind="foreach: subtypes" class="node_types" style="display:none">
				<div data-bind="attr:{id:sub.subtype + '_node', class:sub.subtype}">
					<h3 data-bind="text: sub.subtype"></h3>
					<div class="node_types" >
						<ul data-bind="foreach: nodes" class="node_types">
							<li>
								<div data-bind="text:title, click:$root.select"></div>
								<div data-bind="html:description"></div>
							
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
	</body>
</html>
