<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>METAPIPE</title>
<script type="text/javascript" src="/js/js-graph-it.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/knockout.js"></script>
<script src="http://cdn.socket.io/socket.io-1.2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/css/js-graph-it.css" />
<link rel="stylesheet" type="text/css" href="/css/sf-homepage.css" />
<link rel="stylesheet" type="text/css" href="/css/metapipe.css" />
<style>
	
</style>


<script>
	
	var nodes = null;
	
	function stopDragListener (ele) {
		var data = {'id': ele.id, 'x':ele.style.left, 'y':ele.style.top};
		$.post("/set/node/position", data, function(returnedData) {});
	}

	var nodeList = function () {
		var self = this;
		this.currentProject = "";
		this.currentNode = "";
		this.currentCollection = "";
		this.currentNodePosition = {};
		this.projectNodes = ko.observableArray(); 
		this.add_node = function (data, event) {
			var ele = $(event.target);
			var data = {'input': ele.data('id')};
			$.post("/create/node", data, function(returnedData) {
				// This callback is executed if the post was successful  
				console.log('created node');
			});
		}

		this.selectNode = function (data, event) {
			var obj = $(event.target);
			self.selectedNode = data;
			
			if(typeof data.params.collection !== "undefined")
				self.currentCollection = data.params.collection
			else
				self.currentCollection = data.collection
				
			var node_settings_html = 
				'<div id="node_bar" class="selected">' + 
				'	<h2>' +data.type+": " +data.title+ '</h2>' +
				'	<div class="number">node number: '+data.number+'</div>' +
				'	<h3 class="subhead">params</h3>' +
				'	<div class="node_params">' +
						self.nodeParams(data) +
				'	</div>' +
				'	<h3 class="subhead">settings</h3>' +
				'	<div class="settings">' +
						data.views.settings +
				'	</div>' +	
				'	<button id="'+data._id+'" class="run">run this node!</button>' +
				'</div>';
			$('#node_bar').replaceWith(node_settings_html);
			$("#mainCanvas .block").removeClass("selected");
			obj.parent().addClass("selected");
			self.setSettingsValues(data);
		}
		
		this.nodeParams = function (data) {
			var html = "<table>";
			for(var prop in data.params) {
				html += "<tr><td class='strong'>params."+prop+"</td></tr><tr><td>" + data.params[prop] + "</td></tr>";
			}
			html += "</table>";
			return html;
		}
		
		this.resetSettings = function () {
			node_settings_html = '<div id="node_bar" class="selected"><h2>Select node</h2></div>';
			$('#node_bar').replaceWith(node_settings_html);
		}
		
		this.setSettingsValues = function (data) {
			for(var prop in data.settings) {
				if(typeof data.settings[prop] == "boolean")
					$("input[name='"+prop+"']").prop("checked", data.settings[prop]);
				else
					$("input[name='"+prop+"']").val(data.settings[prop]);
			}
		}
		
		this.loadProject = function (nodesModel) {
			$.getJSON("/get/nodes/" + self.currentProject, function(project) { 
				var data = project.nodes;
				if(typeof data !== "undefined") { 
					for(var i = 0; i< data.length; i++) {
						var d = data[i];
						self.projectNodes.push(data[i]);
					}
				}
				$("#project_title").text(project.title);
				resizeCanvas();
				initPageObjects();
				resizeInnerDiv();
				
			})
		}


		this.collection = ko.observableArray(); // Initial items
		
		this.loadNodes = function (nodesModel) {
			$.getJSON("/get/nodes", function(data) { 
				for(var i = 0; i< data.length; i++) {
					var d = data[i];
					for(var j = 0; j < data[i].subtypes.length; j++) {
						for(var k = 0; k < data[i].subtypes[j].nodes.length; k++) {
							data[i].subtypes[j].nodes[k].params = self.generateParams(data[i].subtypes[j].nodes[k]);
						}
					}
					
					self.collection.push(data[i]);
				}
			})
		}


		this.openNodeTypes = function(data, event) {
			var obj = $(event.target);
			var current = obj.parent().find(".node_types");
			
			// toggle
			if(current.is(":visible")) {
				current.hide();
			} else {

				// close all tabs
				obj.parent().parent().find(".node_types").hide();
				obj.parent().parent().find(".settings").hide();
				// open current tab
				current.show();
				$(".params").hide();
			}
		}


		this.openNodeParams = function(data, event) {
			var obj = $(event.target);
			var params = obj.parent().find(".params");
			
			if(params.is(":visible")) {
				$(".params").hide();
			} else {
				$(".params").hide();
				params.show();
			}
		}

		this.generateParams = function (data) {
			var div = $("<div class=\"params\"></div>");
			//params.append(div);
			
			if(data.type == "source") {
				if(data.subtype == "file") {
					var form = $("<form data-nodeid=\""+data.nodeid+"\" id=\"uploadfile\" action=\"\" method=\"post\" enctype=\"multipart/form-data\">");
					var submit = $("<input type=\"submit\" value=\"upload and create source node\" class=\"submit\" />");
					div.append(form);
					form.append(data.views.params);
					form.append(submit);
				} else {
					div.append(data.views.params);
					div.append("<button data-nodeid=\""+data.nodeid+"\" class=\"createnode\">Create node</button>");
				}
			} else {
				div.append(data.views.params);
				div.append("<button data-nodeid=\""+data.nodeid+"\" class=\"createnode\">Create node</button>");
			}
			return div.prop('outerHTML');
		}

		// shows all but source nodes and set current node, collection and position
		this.openCreator = function(data, event) {
			var obj = $(event.target);
			$("#node_creator > div").show();
			$("#node_creator > .source").hide();
			$("#node_creator > .collection").hide();
			$("#node_creator").show();
			self.currentNode = obj.parents(".node").attr("id");
			self.currentCollection = obj.parents(".node").data("collection");
			self.currentNodePosition = obj.parents(".node").position();
		}

		// shows only source nodes and set current node, collection and position
		this.openSourceCreator = function(data, event) {
			var obj = $(event.target);
			$("#node_creator").show();
			$("#node_creator > div").hide();
			$("#node_creator > .source").show();
			self.currentNode = obj.parents(".node").attr("id");
			self.currentCollection = obj.parents(".node").data("collection");
			self.currentNodePosition = obj.parents(".node").position();
		}

		// show only collection node(s).

		this.openCollectionCreator = function(data, event) {
			var obj = $(event.target);
			$("#node_creator").show();
			$("#node_creator > div").hide();
			$("#node_creator > .collection").show();
		}


		this.closeCreator = function(data, event) {
			$("#node_creator").hide();
		}

		this.removeSelected = function () {
			this.allNodes.removeAll(this.selectedItems());
			this.selectedItems([]); // Clear selection
		};
	 
		this.sortItems = function() {
			this.allNodes.sort();
		};
		
		// connector class (css)
		this.connect = function (data) {
			return "connector " + data.in + " " + data._id + " down_start";
		};
		
		this.deleteNodeConfirm = function (data, event) {
			var obj = $(event.target);
			obj.parent().find(".delete_confirm").show();
		}
		
		this.cancelDeleteNode = function (data, event) {
			var obj = $(event.target);
			obj.parent().parent().find(".delete_confirm").hide();
		}
		
		this.reallyDeleteNode = function (data, event) {
			
			var params = {node:data._id, project:self.currentProject};
			$.post("/delete/node/", params, function(data) {
				console.log('node deleted');
				if(data.error)
					alert(data.error);
				self.resetSettings();
				self.currentNode = null;
				self.currentCollection = null;
				self.currentNodePosition = null;
				self.reloadProject();
			});
		}
		
		this.reloadProject = function () {
			self.projectNodes.removeAll();
			$("#mainCanvas").empty();
			self.loadProject();
		}
		
		this.clearConsole = function () {
			$("#console").empty();
		}
		
		this.toggleConnectors = function () {
			$(".connector").toggle();
			$(".connector-end").toggle();
			$(".connector-start").toggle();
		}
	};

	function runNode(params, node_id) {
		$("#node_msg").text("running...");
		$("#node_msg").removeClass("done");
		$("#node_msg").addClass("busy");
		$.post("/run/node/" + node_id, params, function(data) {
			console.log('node executed');
			if(data.error)
				alert(data.error);
		});
	}

	function onLoad() {

		var path = window.location.pathname.split("/");
		//resizeCanvas();
		//initPageObjects();
		$('.loading').hide();
		
		$("#node_creator").hide();
		
		nodes = new nodeList();
		nodes.currentProject = path[path.length - 1];
		ko.applyBindings(nodes);
		nodes.loadNodes(nodes);
		nodes.loadProject(nodes);
		
		

		nodes.genSettings = ko.pureComputed(function() {
			return this.par;
		},nodes);

		

		$( window ).resize(function() {
		  resizeCanvas();
		  resizeInnerDiv();
		});

		$(document).on('click','.dynamic_field', function(e) {
			
			var obj = $(e.target);
			var params = obj.parents(".params");
			if(params.length == 0)
				params = obj.parents(".settings");
			
			// fetch fields
			$.getJSON("/get/collection/fields/" + nodes.currentCollection, function(data) { 
				if(data.error)
					alert(data.error);
					
				var html = "<h2>document structure (keys)</h2><ul><li class='pick_field good' data-field='"+ obj.attr("name") +"' data-val=''>CLEAR FIELD and CLOSE</li>";
					for (key in data) {
						if (data[key] instanceof Array) {
							html += "<li class='pick_field' data-field='"+ obj.attr("name") +"' data-val='"+key+"'>"+key+"<span class='array'>ARRAY</span></li>";
						} else if (typeof data[key] === "object" ) {
							var p = key;
							var a = [p];
							if (data[key] === null) {
								html +=  "<li class='pick_field' data-field='"+ obj.attr("name") +"' data-val='"+key+"'>"+key+"<span class='null'>null</span></li>";
							} else {
								var tree = makeDynFieldsfromObject(data[key], a, obj);
								html +=  "<li>"+ p + "<ul>" + tree + "</ul></li>";
							}
						} else {
							html += "<li class='pick_field' title='"+data[key]+"' data-field='"+ obj.attr("name") +"' data-val='"+key+"'>"+key+"</li>";
						}
					}
				html += "</ul>"
				params.append("<div class='dynamic_fields'>"+html+"</div>");
			})
		});

function makeDynFieldsfromObject (data, parents, obj) {
	
	var html = "";
	var parents_str = parents.join(".");
	for (key in data) {
		if (data[key] instanceof Array) {
			html += "<li class='pick_field' data-field='"+ obj.attr("name") +"' data-val='"+parents_str +"."+key+"'>"+key+" <span class='array'>ARRAY</span></li>";
		} else if (typeof data[key] === "object") {
			var p = key;
			parents.push(p);
			var tree = makeDynFieldsfromObject(data[key], parents, obj);
			parents.pop();
			html +=  "<li>" + p + "<ul>" + tree + "</ul></li>";
		} else {
			html += "<li class='pick_field' title='"+data[key]+"' data-field='"+ obj.attr("name") +"' data-val='"+parents_str +"."+key+"'>"+key+"</li>";
		}
	}
	return html;
}


		
		$(document).on('click','.pick_field', function(e) {
			var obj = $(e.target);
			var params = obj.parents(".params");
			if (params.length == 0)
				params = obj.parents(".settings");
				
			params.find("input[name='"+obj.data("field")+"']").val(obj.data("val"));
			params.find(".dynamic_fields").remove();
		});
		
		$(document).on('click','.run', function(e) {
			
			var obj = $(e.target);
			var map = {};
			// read input from settings
			obj.parent().find(".settings input, .settings select").each(function() {
				map[$(this).attr("name")] = $(this).val();
			});
			// and run
			runNode(map, this.id);
			e.preventDefault();
		});	



		// handler for file upload node creation
		$(document).on('submit', "#uploadfile", function(e) {

			var params = {};
			var obj = $(e.target);
			$("#message").empty(); 
			$('.loading').show();
			
			// read params
			obj.find("input,textarea, select").not("input[type=button],input[type=submit]").each(function(){
				params[$(this).attr("name")] = $(this).val(); 
			});
			e.preventDefault();
			var obj = $(e.target);
			var nodeId = obj.data("nodeid");
			var fd = new FormData(this);
			fd.append("project",nodes.currentProject);
			
			// upload file 
			$.ajax({
				url: "/upload/file",
				type: "POST",
				dataType: "json",
				data:  fd,
				contentType: false, 
				cache: false,
				processData:false,
				success: function(data)
				{
					if (data.error) {
						alert(data.error);
						$('#loading').hide();
					} else {
						// create actual node
						data.params = params;
						data.params.filename = data.filename;
						data.params.mimetype = data.mimetype;
						data.nodeid = nodeId;
						data.project = nodes.currentProject;
						data.input_node = nodes.currentNode; 
						data.collection = nodes.currentCollection; 
						// send also x and y so that new node can be positioned close
						data.position = nodes.currentNodePosition;
						$.post("/create/node", data, function(returnedData) {
							console.log('created node');
							$("#node_creator").hide();
							nodes.reloadProject();
						});
					}
				}	        
		   });
		});



		// handler for normal node creation
		$(document).on('click', ".createnode", function(e) {
			var data = {};
			var params = {};
			var obj = $(e.target);
			
			// read params
			obj.parent().find("input,textarea, select").not("input[type=button]").each(function(){
				params[$(this).attr("name")] = $(this).val(); 
			});
			
			data.params = params;
			data.nodeid= obj.data("nodeid");
			data.project = nodes.currentProject;
			data.input_node = nodes.currentNode; 
			 
			// send also x and y so that new node can be positioned close
			data.position = nodes.currentNodePosition;
			
			$("#message").empty();

			if(data.nodeid == "collection_basic") {
				$.post("/create/collection/node", data, function(returnedData) {
					console.log('created node');
					$("#node_creator").hide();
					nodes.reloadProject();
				});
			} else {
				data.collection = nodes.currentCollection;
				$.post("/create/node", data, function(returnedData) {
					console.log('created node');
					$("#node_creator").hide();
					nodes.reloadProject();
				});
			}
			e.preventDefault();
		});



		// websocket stuff
		var socket = io.connect('http://localhost');

		socket.on('hello', function (data) {
			$("#console").append(data + "</br>");
			tailScroll() 
		  });

		
		socket.on('news', function (data) {
			//console.log(data);
			$("#console").append(data + "</br>");
			tailScroll() 
		  });

		socket.on('progress', function (data) {
			//console.log(data);
			$("#console").append("<div class=\"progress\">" + data + "</div>");
			tailScroll() 
		  });

		socket.on('error', function (data) {
			console.log(data);
			$("#console").append("<div class=\"bad\">" + data + "</div>");
			$("#node_msg").removeClass("busy");
			$("#node_msg").addClass("done");
			$("#node_msg").html("<div class=\"bad\">ERROR: " + data + "</div>");
			tailScroll() 
		  });

		socket.on('finish', function (data) {
			$("#console").append("<div class=\"good\">" + data + "</div>");
			tailScroll(); 
			$("#node_msg").removeClass("busy");
			$("#node_msg").addClass("done");
			$("#node_msg").html("");
		  });

		$(window).on('beforeunload', function(){
			socket.close();
		});

		$(document).on('click','#addline', function(e) {
			
			$("#console").append("<div class=\"good\">test line for testing</div>");
			$("#console").css('z-index', 3000000);

		});	

	}
		
	/**
	 * Resizes the main canvas to the maximum visible height.
	 */
	function resizeCanvas()
	{
		var divElement = document.getElementById("mainCanvas");
		var screenHeight = window.innerHeight || document.body.offsetHeight;
		divElement.style.height = (screenHeight - 60) + "px";
	}

	function resizeInnerDiv () {
		var div = document.getElementById("mainCanvas_innerDiv");
		var screenHeight = window.innerHeight || document.body.offsetHeight;
		var screenWidth = window.innerWidth || document.body.offsetWidth;
		div.style.height = (screenHeight - 70) + "px";
		div.style.width = (screenWidth - 390) + "px";
	}
		
	function getURLParameter(name) {
	  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
	}

	// console effect from here: http://jsfiddle.net/manuel/zejCD/1/
	function tailScroll() {
		var height = $("#console").get(0).scrollHeight -260;
		$("#console").animate({
			scrollTop: height
		}, 50);
	}



</script>

<script type="text/html" id="node-template">
	<div data-bind="attr:{id:_id, 'data-collection':collection},style:{left:x+'px', top:y+'px'},css:type" class="block node draggable"> 
		<div class="delete_icon" data-bind="click:$root.deleteNodeConfirm">X</div>
		
		<!-- ko if: type != 'transform'  -->
		<h2 data-bind="click:$root.selectNode, html:type.toUpperCase() "></h2> 
		<!-- /ko -->

		<!-- ko if: type == 'transform'  -->
		<h2 data-bind="click:$root.selectNode, html:title "></h2> 
		<!-- /ko -->

		<div class="delete_confirm" style="display:none">
			<button class="delete warning" data-bind="click:$root.reallyDeleteNode">Really delete?</button>
			<button class="good" data-bind="click:$root.cancelDeleteNode">No delete, no!</button>
		</div>
		
	   <div  class="node_info"> 
			<p class="node_title" data-bind="html:params.title"></p> 
		</div>
		
		
		<div>
			<!-- ko if: type != 'source'  -->
				<button data-bind="click: $root.openCreator" class="add_node right">add node</button> 
			<!-- /ko -->
			
			<!-- ko if: type == 'collection' -->
				<button data-bind="click: $root.openSourceCreator" class="add_node after_left">add source</button> 
			<!-- /ko -->
			
			<div class="left bottom">
				<a class="left view_button" data-bind="attr:{href:'/node/view/' + _id}" target="_blank" >view data</a> 	
			</div>
		</div>

	</div>

	 <!-- ko if: input_node != '' -->
		<!-- ko if: type == 'source' -->
			<div data-bind="css: 'connector ' + input_node + ' ' + $data._id + ' left_start'">
				<img class="connector-end" src="../arrow.gif">
			</div>
		<!-- /ko -->
		<!-- ko if: type != 'source' -->
			<div data-bind="css: 'connector ' + input_node + ' ' + $data._id + ' down_start'">
				<img class="connector-end" src="../arrow.gif">
			</div>
		<!-- /ko -->
	<!-- /ko -->
</script>

</head>
<body onload="onLoad();">


	<div id="console"></div>
	<div class="project_header">
		<h1 class="inline_header"><a href="/" title="back to projects">projects:</a></h1>
		<h1 class="inline_header" id="project_title"></h1>
		<button data-bind="click: openCollectionCreator" class="right" >add collection</button>
	</div>

	<div id="node_settings">
		<div id="node_bar" class="selected">
			<h2 class="selected">Select node</h2>
		</div>
		<div id="node_msg" class="done"></div>
	</div>
	
	
	<div id="mainCanvas" class="canvas" data-bind="template: { name: 'node-template', foreach: projectNodes }"> 
		
	</div>
	
	
	<div id="node_creator">
		<button data-bind="click:closeCreator">close</button>
		<h1>Choose node type</h1>
		<!-- ko foreach: collection -->
		<div data-bind="attr:{id:_id.type + '_node', class:_id.type}">
			<h2 data-bind="text: _id.type,click:$parent.openNodeTypes"></h2>
			<p data-bind="html:_id.description"></p>
			<div data-bind="foreach: subtypes" class="node_types" style="display:none">
				<div data-bind="attr:{id:sub.subtype + '_node', class:sub.subtype}">
					<h3 data-bind="text: sub.subtype"></h3>
					<div class="node_types" >
						<ul data-bind="foreach: nodes" class="node_types">
							<li>
								<div data-bind="text:title, click:$root.openNodeParams"></div>
								<div data-bind="html:description"></div>
								<div data-bind="html:params" ></div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
	<div class="self_advertise">-MetaPipe-</div>
	<div id="footer">
		<a data-bind="click:clearConsole" class="left" title="clear console">clear console</a><span class="left">|</span>
		<a data-bind="click:toggleConnectors" class="left" title="hide/show connectors">connectors on/off</a> |
		<a class="right" href="../node-viewer" target="_blank" title="open node viewer">node viewer</a> 
	</div>
</body>
</html>
