<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="/css/wikiglyphs.css">
<title>GLAMpipe project</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/glampipe.js"></script>
<script type="text/javascript" src="/js/node-repository.js"></script>
<script type="text/javascript" src="/js/ui_project.js"></script>


</head>

<body class="vbox">
<header><a href="/"><span class="title sitetitle">GLAMpipe</span></a></header>

<content class="main hbox space-between">
  <pipe>
    <div class="pageheader">
      <div id="page-title" class="title pagetitle"></div>
    </div>
    
    <div class="sectiontitleblock">
      <div id="collectionList"><span class="title sectiontitle">Collections</span> <a href="#">Add collection</a></div>
      <div class="boxright"> <a href="collections.html">
        <div id="collection-chooser" class="wikiglyph wikiglyph-stripe-menu icon" aria-hidden="true"></div>
        </a>
        <div id="collection-prev" class="wikiglyph wikiglyph-caret-left icon" aria-hidden="true"></div>
        <div id="collection-node-switch">0 / 0</div>
        <div id="collection-next" class="wikiglyph wikiglyph-caret-right icon" aria-hidden="true"></div>
      </div>
    </div>
    
  </pipe>
  <workspace>
  </workspace>
</content>
</body>
</html>
