<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GLAMpipe</title>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/knockout.js"></script>
<script type="text/javascript" src="/js/funcs.js"></script>
<script type="text/javascript" src="/js/project.js"></script>
<script src="http://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript" src="/js/require.js"></script>


<link rel="stylesheet" type="text/css" href="/css/metapipe.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />


<script type="text/html" id="node-template">
	<div data-bind="attr:{id:_id, 'data-collection':collection},css:type" class="block node draggable"> 
		<div class="delete_icon" data-bind="click:$root.deleteNodeConfirm">X</div>
		<div class="drag_icon"><img src="../images/drag.png"/></div>
		
		<h2 class="pointer" data-bind="click:$root.selectNode, html:type.toUpperCase() +': '+ title "></h2> 
		


		<div class="delete_confirm" style="display:none">
			<button class="delete warning" data-bind="click:$root.reallyDeleteNode">Really delete?</button>
			<button class="good" data-bind="click:$root.cancelDeleteNode">No delete, no!</button>
		</div>
		
		<div data-bind="html:$root.nodeInfo($data)">
		
		</div>


		<div>
			<!-- ko if: type == 'collection' --> 
				<button data-bind="click: $root.openSourceCreator" class="add_node left">add source</button> 
				<button data-bind="click: $root.openCreator" class="add_node right">add node</button> 
				<div class="clear"></div>
			<!-- /ko -->
		</div>

		<div class="node_buttons">

			
			<!-- ko if: type == 'view' --> 
			<div class="bottom">
				<a class="left view_button" data-bind="attr:{href:'/node/fileview/' + _id + '?view=georeferencer.html'}" target="_blank" >georeferencer</a> 	
			</div>
			<!-- /ko -->
			
			<button class="left" data-bind="click:$root.openNodeView">view data</button> 

			<div style="clear:both"></div>
			
		</div>



		<div class="node_settings">

			<!-- ko if: type != 'collection' --> 
			<div>
				<button data-bind="attr:{id:_id}" class="run left">run this node!</button>
				<button data-bind="click:$root.openNodeView" class="run right">view data</button>
				<div class="node_console"></div>
			</div>
			<div class="clear"></div>
			<!-- /ko -->

			<div id="node_bar" class="selected">
				<h2>DETAILS</h2>
				<div class="number" data-bind="number"></div> 
				<h3 class="subhead">params</h3> 
				<div class="params" data-bind="html:$root.nodeParams($data)"></div>
				<h3 class="subhead">settings</h3> 
				<div class="settings" data-bind="html:$root.getSettings($data)"></div>
			</div>
			
		 
		</div>

	</div>

</script>


</head>

<body>
   
	<!-- PROJECT HEADER -->
	<div id="project_header">
		<h2 class="inline_header"><a href="/" title="back to projects"><</a></h2>
		<h2 class="inline_header" id="project_title"></h2>
		 <button data-bind="click: openCollectionCreator" class="right" >add collection</button>
	</div>
  
	
	<!-- PROJECT NODES -->
	<div class="collection_pipe">
		<div class="pipe" data-bind="template: { name: 'node-template', foreach: projectNodes }"></div>
	</div>


	
	
	<!-- VIEW TABS -->
	<div class="collection_view">
		<div id="tabs">
			<ul>
				<li><a class="tabref" href="#tabs-1" rel="http://artturimatias.github.io/GLAMpipe/">Welcome!</a><span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
			</ul>
		  <div class="tab" id="tabs-1"></div>
		</div>
	</div>


	<!-- NODE CREATOR -->
	<div id="node_creator">
		<button data-bind="click:closeCreator">close</button>
		<h1>Choose node type</h1>
		<!-- ko foreach: collection -->
		<div data-bind="attr:{id:_id.type + '_node', class:_id.type}">
			<h2 data-bind="text: _id.type,click:$parent.openNodeTypes"></h2>
			<p data-bind="html:_id.description"></p>
			<div data-bind="foreach: subtypes" class="node_types" style="display:none">
				<div data-bind="attr:{id:sub.subtype + '_node', class:sub.subtype}">
					<h3 data-bind="text: sub.subtype"></h3>
					<div class="node_types" >
						<ul data-bind="foreach: nodes" class="node_types">
							<li>
								<div data-bind="html:title, click:$root.openNodeParams"></div>
								
								<div data-bind="html:params" ></div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>


	<!-- FOOTER AND CONSOLE -->
	<div id="footer">
		<div id="console"></div>
	</div>

</body>
</html>
