<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error in setup</title>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/js-graph-it.css" />
<link rel="stylesheet" type="text/css" href="css/sf-homepage.css" />
<link rel="stylesheet" type="text/css" href="/css/metapipe.css" />

<style>
p {padding:5px}
</style>

<script>
function init() {


    $( "#setdatapath" ).submit(function( event ) {
        if($("#datapath").val() == "") {
            alert( "Data path can not be empty!" );
            
        } else {
            var data = {"datapath": $("#datapath").val()};
            $.post("/set/datapath", data, function(returnedData) {
                console.log(returnedData);
                document.location.reload(true);
            });
        }
        event.preventDefault();
    });
     
    
    switch (error.status) {
        case "nodepath_error":
            $("#datadir").text(error.datapath);
            $("#nodepath_error").show();
        break;
        case "datapath_error":
            $("#datapath_error").show();
            $("#setpath").show();
        break;
    }

   
}

</script>

</head>
<body onLoad="init()">
    <div class="project_header">
        <h1>There seems to be an error in your GLAMpipe setup</h1>
    </div>
    <h2>errors:</h2>
    
    [[initerror]]
    
    <br><br><br>

    
    <div class="upload hidden" id="nodepath_error" style="width:500px">
        <h3>"nodes not found" </h3>
        <p>GLAMpipe does not find node files. Download nodes to "nodes" directory IN your data directory.</p>
        
        <h4>your data path:</h4>
        <div id="datadir"></div>
        <p>Nodes can be found here: <a href="https://github.com/artturimatias/metapipe-nodes/archive/master.zip">https://github.com/artturimatias/metapipe-nodes/archive/master.zip</a></p>
        <h4>You have to restart GLAMpipe after you have placed nodes in "nodes" directory.</h4>
        
    </div>
    
    <div class="upload hidden" id="datapath_error" style="width:500px">
        <h3>"datapath is not set!"</h3>
        <p>You need create a directory where GLAMpipe can save its data. </p>
        <p>Then write <span class="strong">full path</span> to "data path" field and click "set data path".</p>

        <div id="setpath" >
            <div class="source">
                
                <h2>set data path here</h2>
               
                <form method="POST" id="setdatapath" action="/set/datapath">
                    <input id="datapath" name="datapath" placeholder="/full/data/path/here" style="width:500px"/>
                    <input type="submit" value="set data path">
                </form>
            </div>
        </div>


    </div>




    <img class="right" src="images/terrified_man.png" />

	</body>
</html>
