<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  
  
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/login-style.css">
      <script src="js/jquery-2.1.1.min.js"></script>
      <script src="js/login.js"></script>

  
</head>
<body>
<html>



<div class="container">
    	<div class="row">
			<h">Signup failed!</h2>
            <p>Please <a href="signup">try</a> again</p>
		</div>
	</div>


</html>
</body>

