<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>METAPIPE</title>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/knockout.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/js-graph-it.css" />
<link rel="stylesheet" type="text/css" href="../../css/sf-homepage.css" />
<link rel="stylesheet" type="text/css" href="../../css/metapipe.css" />
<style>
	
</style>


<script>
	
	// place holder for node data
	[[node]]
	
	ko.bindingHandlers.inline = {
		init: function(element, valueAccessor) {
			var span = $(element);
			var input = $('<input />',{'type': 'text', 'style' : 'display:none'});
			span.after(input);
			
			ko.applyBindingsToNode(input.get(0), { value: valueAccessor()});
			ko.applyBindingsToNode(span.get(0), { text: valueAccessor()});
			
			span.click(function(){
				input.width(span.width());
				span.hide();
				input.show();
				input.focus();
			});
			
			input.blur(function() { 
				span.show();
				input.hide();
			});
			
			input.keypress(function(e){
				if(e.keyCode == 13){
				   span.show();
				   input.hide();
			   }; 
			});
		}
	};
	

	var nodeList = function () {
		var self = this;
		this.collectionName = "";
		this.params = {
			skip:function() {return "?skip="+this.skip_value;}, 
			skip_value: 0, 
			skip_func: function (val) {
				this.skip_value = this.skip_value + val;
				if (this.skip_value <= 0)
					this.skip_value = 0;
				},
			sort:""
		};

		this.collection = ko.observableArray(); // Initial items
		this.loadData = function () {
			$.getJSON("/get/collection/" + node.collection + this.params.skip() + this.params.sort, function(data) { 
				self.collection([]);
				for(var i = 0; i< data.length; i++) {
					data[i].vcc = self.params.skip_value + i + 1;
					self.collection.push(data[i]);
				}
			})
		}
		
		this.nextPage = function() {
			this.params.skip_func(50);
			this.loadData();
		};

		this.prevPage = function() {
			this.params.skip_func(-50);
			this.loadData();
		};
		
		this.sort = function (data, event) {
			this.params.sort = '&sort=' + event.target.id;
			this.collection([]);
			this.params.skip_value = 0;
			this.loadData();
		};
		
		// show deep data
		this.openCell = function (data, event) {
			console.log(data);
			event.preventDefault();
			var obj = $(event.target);
			var details = obj.parent().find(".details");
			var table = $("<div></div>");
			createTable(data, table);
			details.empty();
			details.append(table);

		}
	};
	


	function createTable (data, table) {
		
		
		if(data instanceof Array) {
			if(typeof data[i] === "object") {
				
			}
			for(var i = 0; i < data.length; i++) {
				if(typeof data[i] === "object" || data[i] instanceof Array) {
					var row = $("<div><h3>"+i+"</h3></div>");
					table.append(row);
					createTable(data[i], row);
				} else {
					table.append("<div><span class=\"key\">"+i+": </span><span>"+data[i]+"</span></div>");
				}
			}
		} else {
			for (key in data) {
				if(typeof data[key] === "object" || data[key] instanceof Array) {
					var row = $("<div><h3>"+key+"</h3></div>");
					table.append(row);
					createTable(data[key], row);
				} else {
					table.append("<div><span class=\"key\">"+key+": </span><span>"+data[key]+"</span></div>");
				}
			}
		} 
		
	}

	function onLoad() {

		var path = location.pathname.split("/");
		
		var nodes = new nodeList();
		nodes.collectionName = path[path.length -1];
		ko.applyBindings(nodes);
		nodes.loadData(nodes);
		
		$("#source").text(node.data_view);
		
		$("#show_source").click(function() {
			$("#source").toggle();
		});
	}

	function getURLParameter(name) {
	  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
	}



</script>
</head>
<body onload="onLoad();">

	<h1>PROJECT: [[project]]</h1>
	<!-- <div style="float:right"><a href="#" id="show_source">source</a></div> -->
	<div id="source" style="display:none"></div>
	
	<!-- place holder for data_view html from node -->
	<div id="view">[[html]]</div>
	</body>
</html>
