<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[[page_title]]</title>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/knockout.js"></script>
<script type="text/javascript" src="../../js/view.js"></script>

<link rel="stylesheet" type="text/css" href="../../css/metapipe.css" />


<style>
	textarea { width:300px; height:80px;}
	td {border: 1px solid black; padding:5px; }
	.data-container {min-width:300px}
	#selected_fields button {background-color:#C1E1E0;}
	#prevnext {margin-top:10px;}
	
</style>


<script>
	// place holder for node data
	[[node]]
</script>


</head>

<body onload="onLoad();">
    <a href="[[edit_link]]">edit</a>
	<h1>[[collection]] <span id="count">count</span></h1>
	
	<!-- <div style="float:right"><a href="#" id="show_source">source</a></div> -->
	<div style="clear:both" id="source" style="display:none"></div>
	
	<!-- place holder for data_view html from node -->
	<div id="view">[[html]]</div>
	</body>
</html>
