
<tbody id="test" data-bind="foreach: documents">
    <tr>				
                <td data-bind="text: vcc"></td>
				<td><div class="data-container"  data-bind="text: catalog_identifier"></div></td>
                <td><div class="data-container"  data-bind="text: isbn"></div></td>	
                <td><div class="data-container"  data-bind="text: uc_identifier"></div></td>
                <td><div class="data-container"  data-bind="text: language"></div></td>	
                <td><div class="data-container"  data-bind="text: first_author"></div></td>
                <td><div class="data-container"  data-bind="text: other_authors"></div></td>
                <td><div class="data-container"  data-bind="text: full_title"></div></td>
                <td><div class="data-container"  data-bind="text: year"></div></td>	
                <td><div class="data-container"  data-bind="text: total_pages"></div></td>
                <td><div class="data-container"  data-bind="text: thesis_type"></div></td>
                <td><div class="data-container"  data-bind="text: thesis_subject_area"></div></td>
                <td><div class="data-container"  data-bind="text: thesis_year"></div></td>
                <td><div class="data-container"  data-bind="text: controlled_subject"></div></td>
                <td><div class="data-container"  data-bind="text: series_name"></div></td>
                <td><div class="data-container"  data-bind="text: series_issn"></div></td>
                <td><div class="data-container"  data-bind="text: series_volume_issue"></div></td>
                <td><div class="data-container"  data-bind="text: description"></div></td>
                <td><div class="data-container"  data-bind="text: method_in_use"></div></td>
                <td><div class="data-container"  data-bind="text: person_as_subject"></div></td>
                <td><div class="data-container"  data-bind="text: title_as_subject"></div></td>	
                <td><div class="data-container"  data-bind="text: uncontrolled_keywords"></div></td>
                <td>null</td>				
                <td><div class="data-container"  data-bind="text: thesis_subject_code_1_1"></div></td>
                <td><div class="data-container"  data-bind="text: okm_kota_code_1"></div></td>
                <td><div class="data-container"  data-bind="text: okm_kota_code_2"></div></td>
                <td><div class="data-container"  data-bind="text: okm_kota_code_3"></div></td>
                <td><div class="data-container"  data-bind="text: okm_kota_code_4"></div></td>
                <td><div class="data-container"  data-bind="text: _id"></div></td>
            </tr>
        </tbody>
    </table></div>
